* {
    background-image: none;
    font-family: "FiraCode Nerd Font", "Noto Sans", sans-serif;
}

window {
    background-color: rgba(17, 17, 27, 0.85);
}

button {
    color: #cdd6f4;
    background-color: rgba(69, 71, 90, 0.6);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(137, 180, 250, 0.5);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
}

button:focus,
button:active,
button:hover {
    background-color: rgba(137, 180, 250, 0.2);
    border-color: rgba(137, 180, 250, 0.9);
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
