font=FiraCode Nerd Font
indicator-radius=80
indicator-thickness=8

color={{ background }}
inside-color={{ background }}
inside-clear-color={{ color2 }}
inside-ver-color={{ color4 }}
inside-wrong-color={{ color1 }}
key-hl-color={{ color4 }}
bs-hl-color={{ color1 }}
ring-color={{ color8 }}
ring-clear-color={{ color2 }}
ring-ver-color={{ color4 }}
ring-wrong-color={{ color1 }}
line-color={{ background }}
line-clear-color={{ color2 }}
line-ver-color={{ color4 }}
line-wrong-color={{ color1 }}
separator-color={{ background }}
