[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
	branch = master
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	branch = master
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	branch = master
[submodule ".vim/bundle/vim-flavored-markdown"]
	path = .vim/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
	branch = master
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
	branch = master
[submodule ".vim/bundle/vim-preview"]
	path = .vim/bundle/vim-preview
	url = git://github.com/greyblake/vim-preview.git
	branch = master
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
	ignore = dirty
	branch = master
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/textile.vim"]
	path = .vim/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
	branch = master
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	branch = master
[submodule ".vim/bundle/Gist.vim"]
	path = .vim/bundle/Gist.vim
	url = git://github.com/vim-scripts/Gist.vim.git
        ignore = dirty
[submodule ".vim/bundle/vim-lilypond"]
	path = .vim/bundle/vim-lilypond
	url = https://github.com/matze/vim-lilypond.git
	branch = master
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/simplenote.vim"]
        path = .vim/bundle/simplenote.vim
        url = https://github.com/mrtazz/simplenote.vim.git
        ignore = dirty
[submodule ".vim/bundle/vim-grip"]
	path = .vim/bundle/vim-grip
	url = https://github.com/PratikBhusal/vim-grip
	branch = master
[submodule ".vim/bundle/tabnine-vim"]
	path = .vim/bundle/tabnine-vim
	url = https://github.com/zxqfl/tabnine-vim
