@import url("waybar-colors.css");

* {
    font-family: 'FiraCode Nerd Font', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces {
    background-color: @background;
    padding: 0 5.6px 0 0;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

temperature.warning {
    color: #f9e2af;
}
temperature.critical {
    color: #f38ba8;
    font-weight: bold;
}

#battery,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-pacman,
#custom-weather {
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 15px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#network {
    color: @color2; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @color3; /* color3 */
    background-color: @background; /* background */
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @color4; /* color4 */
}

#pulseaudio {
    color: @color5; /* color5 */
}
