* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", "Noto Sans", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: {{ background }};
    color: {{ foreground }};
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: {{ foreground }};
}

#workspaces button.active {
    color: {{ foreground }};
    background: rgba(255, 255, 255, 0.15);
}

#workspaces button:hover {
    background: {{ color4 | rgba(0.27) }};
}

#clock, #custom-weather, #pulseaudio, #cpu, #memory, #temperature, #tray {
    padding: 0 10px;
}

#clock, #custom-weather {
    color: {{ foreground }};
}

#cpu, #memory, #temperature {
    color: {{ foreground }};
}

#pulseaudio {
    color: {{ foreground }};
}

#pulseaudio.muted {
    color: {{ foreground }};
}

#cpu.warning, #memory.warning, #temperature.warning {
    color: {{ color3 }};
}

#cpu.critical, #memory.critical, #temperature.critical {
    color: {{ color1 }};
}
